## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' ; keeping the 'Name' column to try and optimize the results.
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the values associated with names for binning purposes
name_values = application_df['NAME'].value_counts()
name_values

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [4]:
# Create a custom cutoff value for the list of mod_name_values to be replaced . [10]
# Assign a custom variable name of mod_name_values
mod_name_values = list(name_values[name_values<10].index)

In [5]:
# Replace in dataframe
for name_obj in mod_name_values:
    application_df['NAME'] = application_df['NAME'].replace(name_obj,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_cutoff = 500
application_types_to_replace = []

## Calculate the number of value counts for each application type
application_counts = application_df['APPLICATION_TYPE'].value_counts()

## Develop a list of application types to be replaced
for app_val, values in application_counts.items():
    if values < value_cutoff:
        application_types_to_replace.append(app_val)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_filtered_count = classification_value_counts[classification_value_counts > 1]
classification_filtered_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
value_cutoff_mod = 1000
classifications_to_replace = []

## Calculate the number of value counts for each classification
classification_counts = application_df['CLASSIFICATION'].value_counts()

## Develop a list of classifications to be replaced
for cls_val, types in classification_counts.items():
    if types < value_cutoff_mod:
        classifications_to_replace.append(cls_val)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset ; choose test size to be 20 results
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_feature_count = len(X_train_scaled[0])
hidden_layer_node_1= 14
hidden_layer_node_2 = 7
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_node_1, activation='relu', input_dim=input_feature_count))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_node_2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 14)                3738

 dense_1 (Dense)             (None, 7)                 105

 dense_2 (Dense)             (None, 1)                 8

=================================================================
Total params: 3851 (15.04 KB)
Trainable params: 3851 (15.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=50)

Epoch 1/50
729/729 [==============================] - 3s 2ms/step - loss: 0.5098 - accuracy: 0.7546 - val_loss: 0.4536 - val_accuracy: 0.7833
Epoch 2/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4462 - accuracy: 0.7827 - val_loss: 0.4403 - val_accuracy: 0.7860
Epoch 3/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4401 - accuracy: 0.7848 - val_loss: 0.4431 - val_accuracy: 0.7911
Epoch 4/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4379 - accuracy: 0.7856 - val_loss: 0.4423 - val_accuracy: 0.7894
Epoch 5/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4364 - accuracy: 0.7881 - val_loss: 0.4419 - val_accuracy: 0.7920
Epoch 6/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4354 - accuracy: 0.7883 - val_loss: 0.4419 - val_accuracy: 0.7898
Epoch 7/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4347 - accuracy: 0.7871 - val_loss: 0.4412 - val_accuracy: 0.7915
Epoch 8/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4339 - accuracy: 0.7881 - val_loss: 0.4408 - val_accuracy: 0.7906
Epoch 9/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4333 - accuracy: 0.7890 - val_loss: 0.4420 - val_accuracy: 0.7867
Epoch 10/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4327 - accuracy: 0.7896 - val_loss: 0.4417 - val_accuracy: 0.7906
Epoch 11/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4324 - accuracy: 0.7890 - val_loss: 0.4429 - val_accuracy: 0.7913
Epoch 12/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4319 - accuracy: 0.7902 - val_loss: 0.4426 - val_accuracy: 0.7911
Epoch 13/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4312 - accuracy: 0.7895 - val_loss: 0.4419 - val_accuracy: 0.7889
Epoch 14/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4307 - accuracy: 0.7905 - val_loss: 0.4419 - val_accuracy: 0.7889
Epoch 15/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4306 - accuracy: 0.7904 - val_loss: 0.4439 - val_accuracy: 0.7874
Epoch 16/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7911 - val_loss: 0.4467 - val_accuracy: 0.7852
Epoch 17/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7907 - val_loss: 0.4419 - val_accuracy: 0.7911
Epoch 18/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4298 - accuracy: 0.7917 - val_loss: 0.4412 - val_accuracy: 0.7915
Epoch 19/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7903 - val_loss: 0.4428 - val_accuracy: 0.7879
Epoch 20/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4293 - accuracy: 0.7906 - val_loss: 0.4422 - val_accuracy: 0.7913
Epoch 21/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4290 - accuracy: 0.7906 - val_loss: 0.4420 - val_accuracy: 0.7903
Epoch 22/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4285 - accuracy: 0.7912 - val_loss: 0.4436 - val_accuracy: 0.7898
Epoch 23/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7916 - val_loss: 0.4434 - val_accuracy: 0.7908
Epoch 24/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7930 - val_loss: 0.4434 - val_accuracy: 0.7894
Epoch 25/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4280 - accuracy: 0.7934 - val_loss: 0.4448 - val_accuracy: 0.7903
Epoch 26/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7930 - val_loss: 0.4436 - val_accuracy: 0.7932
Epoch 27/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4273 - accuracy: 0.7926 - val_loss: 0.4430 - val_accuracy: 0.7923
Epoch 28/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7930 - val_loss: 0.4448 - val_accuracy: 0.7847
Epoch 29/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4267 - accuracy: 0.7939 - val_loss: 0.4446 - val_accuracy: 0.7928
Epoch 30/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4268 - accuracy: 0.7923 - val_loss: 0.4436 - val_accuracy: 0.7932
Epoch 31/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4265 - accuracy: 0.7936 - val_loss: 0.4426 - val_accuracy: 0.7925
Epoch 32/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4264 - accuracy: 0.7925 - val_loss: 0.4429 - val_accuracy: 0.7911
Epoch 33/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4265 - accuracy: 0.7932 - val_loss: 0.4434 - val_accuracy: 0.7937
Epoch 34/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7920 - val_loss: 0.4454 - val_accuracy: 0.7903
Epoch 35/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7919 - val_loss: 0.4428 - val_accuracy: 0.7913
Epoch 36/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7935 - val_loss: 0.4446 - val_accuracy: 0.7920
Epoch 37/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4256 - accuracy: 0.7935 - val_loss: 0.4448 - val_accuracy: 0.7930
Epoch 38/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4253 - accuracy: 0.7932 - val_loss: 0.4453 - val_accuracy: 0.7918
Epoch 39/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4254 - accuracy: 0.7930 - val_loss: 0.4443 - val_accuracy: 0.7908
Epoch 40/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4253 - accuracy: 0.7928 - val_loss: 0.4435 - val_accuracy: 0.7911
Epoch 41/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4246 - accuracy: 0.7938 - val_loss: 0.4439 - val_accuracy: 0.7898
Epoch 42/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7936 - val_loss: 0.4462 - val_accuracy: 0.7932
Epoch 43/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4241 - accuracy: 0.7932 - val_loss: 0.4472 - val_accuracy: 0.7920
Epoch 44/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4240 - accuracy: 0.7958 - val_loss: 0.4470 - val_accuracy: 0.7928
Epoch 45/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4238 - accuracy: 0.7939 - val_loss: 0.4457 - val_accuracy: 0.7908
Epoch 46/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4237 - accuracy: 0.7938 - val_loss: 0.4464 - val_accuracy: 0.7886
Epoch 47/50
729/729 [==============================] - 2s 3ms/step - loss: 0.4236 - accuracy: 0.7938 - val_loss: 0.4465 - val_accuracy: 0.7894
Epoch 48/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4233 - accuracy: 0.7937 - val_loss: 0.4455 - val_accuracy: 0.7911
Epoch 49/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4233 - accuracy: 0.7939 - val_loss: 0.4442 - val_accuracy: 0.7894
Epoch 50/50
729/729 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7941 - val_loss: 0.4460 - val_accuracy: 0.7928

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.4738 - accuracy: 0.7754 - 289ms/epoch - 1ms/step
Loss: 0.47377562522888184, Accuracy: 0.7753644585609436

In [18]:
# Export our model to HDF5 file
nn.save("Alphabet_Soup_Analysis_Main.h5")